.header {
  background-color: lightgray;
  padding-left: 100px 20px;
  border: 1px solid black;
  text-align: center;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 15px;
  width: 20%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.section {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

.image-container {
  width: 50%;
}

.image-container > img {
  width: 100%;
}

footer {
  background-color: lightgray;
  padding-left: 100px 20px;
  border: 1px solid black;
  text-align: center;
}

.active {
  display: block;
}

#education > p {
  font-size: 12px;
padding-left: 10px;
}

#summary {
  background-color: lightslategray;
}
#accomplishments {
  background-color: #288DC7;
}
#work {
  background-color: #185F7A;
}
#education {
  background-color: #3D697A;
}
#contact {
  background-color: darkslategray;
}
