.header {
  background-color: lightgray;
  padding-left: 100px 20px;
  border: 1px solid black;
  text-align: center;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 15px;
  width: 20%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.section {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

footer {
  background-color: lightgray;
  padding-left: 100px 20px;
  border: 1px solid black;
  text-align: center;
}

.active {
  display: block;
}

#summary {background-color: red;}
#accomplishments {background-color: green;}
#work {background-color: blue;}
#education {background-color: orange;}
#contact {background-color: purple;}
